<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <%= stylesheet_link_tag 'defauilt', media: 'all', 'data-turbolinks-track' => true%>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true%>
 <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
